
.container {
    margin: 0 auto;
  }
  .container h2 {
    text-align: center;
    font-size: 45px;
  }
  .search {
    margin: 0 auto;
    text-align: center;
  }
  .search input {
    width: 400px;
    height: 35px;
    /*! border-radius: 5px; */
    border: 1px solid #333;
    padding: 2px 20px;
    font-size: 16px;
    color: #333;
    margin-right: 20px;
  }
  .search button {
    padding: 2px 45px;
    height: 42px;
    line-height: 16px;
    background-color: #98d098;
    border: none;
    cursor: pointer;
  }
  .movies {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 50px;
  }
  
  .movie {
    width: 100%;
margin: 0 auto;
text-align: center;
  }

  .notfound {
    margin: 0 auto;
    text-align: center;
}

.notfound h3 {
    font-size: 30px;
    margin-top: 100px;
}

  @media only screen and (max-width: 600px) {
    .movies {
        grid-template-columns: 1fr;
    }
  }
  @media only screen and (min-width: 601px) and (max-width: 1024px) {
    .movies {
        grid-template-columns: 1fr 1fr;
    }
  }

  @media only screen and (min-width: 1025px) and (max-width: 1280px) {
    .movies {
        grid-template-columns: 1fr 1fr 1fr;
    }
  }